<div class="fblock">
  <div class="container pb-5 pt-5">
    <div class="row pb-5 pt-5">
      <div class="col pb-5">
        <h1 class="text-center">Whats happening at Vizag DEVFEST 2019?</h1>
      </div>
    </div>
    <div class="row d-flex justify-content-center align-content-stretch mb-3">
      <div class="col d-flex flex-column align-items-center">
        <img src="/images/mike.svg" alt="mike" width="100px">
        <h3 class="fhead text-bold  pb-4 pt-4 text-danger">Expert Talks</h3>
        <p class="text-lg">Indulge in sessions where experts from all
          around the country share tips, techniques and learnings on the latest
          technologies, coolest frameworks and smartest apps.</p>
      </div>
      <div class="col d-flex flex-column align-items-center">
        <img src="/images/screen.svg" alt="mike" width="100px">
        <h3 class="fhead text-bold pb-4 pt-4 text-danger">Live Sessions</h3>
        <p class="text-lg">Unleash the developer within you with sessions
          that enable to quickly build an app, design a website or deploy some
          code. Embrace a world of possibilities.
        </p>
      </div>
      <div class="col d-flex flex-column align-items-center">
        <img src="/images/people.svg" alt="mike" width="100px">
        <h3 class="fhead text-bold pb-4 pt-4 text-danger">Inspirational Stories</h3>
        <p class="text-lg">Get amazed and motivated by the success stories
          of tech entrepreneurs and professionals who have stood their ground
          and succeeded in their moonshots.
        </p>
      </div>
      <div class="col d-flex flex-column align-items-center">
        <img src="/images/screen.svg" alt="mike" width="100px">
        <h3 class="fhead text-bold pb-4 pt-4 text-danger">Networking Fun</h3>
        <p class="text-lg">Experience having fun while learning. Network
          and share with co-attendees who have had a different path than yours,
          all while having fun together.
        </p>
      </div>
    </div>
  </div>

</div>
