<div class="fblock">
  <div class="container pb-5 pt-5">
    <div class="d-flex flex-column align-items-center b-4">
      <h1>Seeking Collaborators</h1>
      <div class="d-flex flex-row justify-content-center p-4">
        <div class="col">
          <h3 class="text-center text-danger">Sponsers</h3>
          <p class="text-lg">Collaborate with us to make more impact in the ecosystem and to be
            seen as a leader for tech talent.</p>
        </div>
        <div class="col">
          <h3 class="text-center text-danger">Partners</h3>
          <p class="text-lg">Partner with us and help facilitate the biggest developer event in
            Vizag. From venue to food to swags, every drop counts.
          </p>
        </div>
        <div class="col">
          <h3 class="text-center text-danger">Administrators</h3>
          <p class="text-lg">Help spread the word in your offices and colleges and let
            developers leverage the best resources to become even more skillful.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
