<div class="contactus d-flex justify-content-center align-items-center">
  <div class="overlay">
      <div class="card bg-white" style="width: 500px; height: 300px;">
          <h3 class="card-title">Contact us</h3>
          <div class="card-body text-center">
            <h3 class="text-white bg-dark">
                Email: vizaggdg@gmail.com
            </h3>
            <h3 class="text-white bg-dark">
                Email: wtmvizag@gmail.com
            </h3>

          </div>
      </div>
  </div>

</div>