<header>
  <div class="overlay"></div>
  <div class="video-background">
      <div class="video-foreground">
        <iframe src="https://www.youtube.com/embed/2WUijLhJaoY?controls=0&start=10&showinfo=0&autoplay=1&loop=1&mute=1&playlist=2WUijLhJaoY" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h1 class="display-3 pb-4"> GDG Vizag 2019!</h1>
          <p class="lead pb-5 "> Vizag's biggest Developer conference just got bigger and better. </p>
          <a name="" id="" class="btn ablock border-0"
            href="https://docs.google.com/forms/d/e/1FAIpQLSfY5AO9KMeyWFNtxZ-0E5tQn9nrWaJ0zwtkCrnbBdlugNaIUg/viewform"
            role="button"> Register me for Vizag DevFest 2019 </a>
        </div>
      </div>
    </div>
  </header>
  