
  <div class="container">
    <div class="d-flex flex-column align-items-center pt-5 pb-5">
      <div class="row pt-5 pb-5">
        <div class="foldtitle text-center">Schedule for Vizag DEVFEST 2019</div>
      </div>
      <div class="container">
        <div class="row">
        <div class="col-md-12">
                  <div class="schedule-warp">
                    
                   <div class="schedule-card">
                     <div class="insidebox">
                         <span class="schedule-tag">9:00 to 9.45 AM</span> 
                          <span class="schedule-start">Registrations start. (Request participants to complete registrations by 9.30 AM, after which waitlisted candidates will be allowed)</span>                  
                     </div> 
                      </div>
                      
                      <div class="schedule-card">
                     <div class="insidebox">
                         <span class="schedule-tag">10:00 to 10.00 AM</span> 
                          <span class="schedule-start">Host Welcome and Lamp lighting. Words of Wisdom by Chief Guest Mr. Naresh Kumar, Founder - Symbiosys Technologies and Mr. R.L. Narayana, President - iTAAP.</span>                   
                     </div> 
                      </div>
                      
                      <div class="schedule-card">
                     <div class="insidebox">
                         <span class="schedule-tag">10:10 to 10.40 AM</span> 
                          <span class="schedule-start">Key Note Address by Mr. Nikhil Raichur, Lead of DSC India - Google</span>                  
                     </div> 
                      </div>
                      
                      <div class="schedule-card">
                     <div class="insidebox">
                         <span class="schedule-tag">10:40 to 11.10 AM</span> 
                          <span class="schedule-start"> Welcome Note by Mr. Madhav Reddy, Founder GDG Vizag & WTM Vizag</span>                  
                     </div> 
                      </div>
                      
                      <div class="schedule-card">
                     <div class="insidebox">
                         <span class="schedule-tag">11.10 to 11.50 AM</span> 
                          <span class="schedule-start">"10 Best way to use Google cloud computing(Key uses and intelligent techniques"

                            by Mr. Madhu Vadlamani, Sr Lead in web and data analytics at KONY</span>                  
                     </div> 
                      </div>
                      
                      <div class="schedule-card">
                     <div class="insidebox">
                         <span class="schedule-tag">11.50 to 12.30PM</span> 
                          <span class="schedule-start">"Machine Learning, Deep Learning & Tensor flow 2.0"
                            by Mr. Krishna Reddy, Founder, Krify Innovations (UK) Limited</span>                  
                     </div> 
                      </div>

                      <div class="schedule-card">
                        <div class="insidebox">
                            <span class="schedule-tag">12:30 to 1.10 PM</span> 
                             <span class="schedule-start">"Building a scalable Search Engine on GKE using Elastic search"
                              by Mr. Aravind Putrevu, Developer Advocate - India at Elastic"</span>                  
                        </div> 
                         </div>

                         <div class="schedule-card">
                          <div class="insidebox">
                              <span class="schedule-tag">1.10 to 2.10 PM</span> 
                               <span class="schedule-start">Yummy Lunch and Awesome Networking with attendees.</span>                  
                          </div> 
                           </div>

                           <div class="schedule-card">
                            <div class="insidebox">
                                <span class="schedule-tag">2.10 to 2.40 PM</span> 
                                 <span class="schedule-start">Session by Developers Student Clubs(DSC)of Andhra Pradesh
                                  [Parallel Session 1]
                                  <br>"Girl, you are the the boss" interactive brainstorming session facilitated by WTM ambassador Usha Ramani
                                  [Parallel Session 2]</span>                  
                            </div> 
                             </div>

                             <div class="schedule-card">
                              <div class="insidebox">
                                  <span class="schedule-tag">2.40 to 3.20 PM</span> 
                                   <span class="schedule-start">"Why Angular, Angular vs React JS, Angular Vs Server Side frameworks"

                                    By Sreedhar Kosaraju, Founder - Nimaisoft Systems Pvt Ltd</span>                  
                              </div> 
                               </div>

                               <div class="schedule-card">
                                <div class="insidebox">
                                    <span class="schedule-tag">3.20 to 3.50 PM</span> 
                                     <span class="schedule-start">"Leveraging communities for better career"
                                      by Mrs. Usha Ramani V, WTM Vizag Ambassador, co-organiser GDG Vizag</span>                  
                                </div> 
                                 </div>

                                 <div class="schedule-card">
                                  <div class="insidebox">
                                      <span class="schedule-tag">3.50 to 4.25 PM</span> 
                                       <span class="schedule-start">"Hey Google, Are you a chatbot?" By Dr. D.N.D Harini, Professor, GVP engineering college</span>                  
                                  </div> 
                                   </div>
                                   <div class="schedule-card">
                                    <div class="insidebox">
                                        <span class="schedule-tag">4.25 to 4.35 PM</span> 
                                         <span class="schedule-start">Special session by CARDLYTICS India</span>                  
                                    </div> 
                                     </div>

                                     <div class="schedule-card">
                                      <div class="insidebox">
                                          <span class="schedule-tag">4.35 to 4.45 PM</span> 
                                           <span class="schedule-start">Live Feedback forms</span>                  
                                      </div> 
                                       </div>

                                       <div class="schedule-card">
                                        <div class="insidebox">
                                            <span class="schedule-tag">4.45 to 4.55 PM</span> 
                                             <span class="schedule-start">Momento presentation and group photo</span>                  
                                        </div> 
                                         </div>

                                         <div class="schedule-card">
                                          <div class="insidebox">
                                              <span class="schedule-tag">4.55 to 5.10 PM</span> 
                                               <span class="schedule-start">Closing note by Mr. Sudhakar, co-organiser, GDG Vizag</span>                  
                                          </div> 
                                           </div>
                  
                  </div>        
               
        </div>
      </div>
    </div>
  </div>
</div>
