<div class="container">
  <div class="d-flex flex-column align-items-center pt-5 pb-5">
    <div class="row pt-5 pb-5">
      <h1 class="text-center">Want to be a speaker at the Devfest?</h1>
    </div>
    <div class="row d-flex flex-row align-items-center">
      <div class="col d-flex flex-column">
        <div class="row">
          <p class="lead font-weight-bold text-big">Join the elite list of
            amazing
            speakers who are rockstars in their own stead.
          </p>
          <p class="text-lg">Flutter, Machine Learning, Artificial Intelligence,
            Android,
            Assistant and Actions are the topics of audience choice this year.
            Interested?
          </p>
        </div>
        <div class="row">
          <a class="btn btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSclCRyZVpxZJmemT6gesMMijvC3WoDP0Pr4N_r16cNVMf7z5Q/viewform" role="button"><h3>Yes! Take me to CFP</h3></a>
        </div>
      </div>
      <div class="col">
        <img src="images/devfest.png" alt="devfest_speaker_invite">
        </div>
      </div>
    </div>
  </div>
</div>
