<div class="fblock">
<section class="our-webcoderskull padding-lg">
    <div class="container">
        <div class= "foldtitle text-center">Our Esteemed Speakers</div>
   
      </div>
      <ul class="row p-5">
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="images/speakers/nikhil.jpg" class="img-responsive" alt=""></figure>
              <h3>Nikhil Raichur</a></h3>
              <p>Lead, DSC India,<br/> Google</p>
              <ul class="follow-us clearfix">
                
                <li><a href="https://twitter.com/nikhilraichur91"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/nikhilraichur/ "><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="images/speakers/sreedhar.jpg"class="img-responsive" alt=""></figure>
              <h3>Sreedhar Kosaraju </a></h3>
              <p>Founder, <br/> Nimaisoft systems Pvt Ltd</p>
              <ul class="follow-us clearfix">
                
                <li><a href="https://twitter.com/sridharkosaraju"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="linkedin.com/in/sreedhar-kosaraju-040bb051 "><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="images/speakers/madhu.jpg" class="img-responsive" alt=""></figure>
              <h3>Madhu Vadlamani </a></h3>
              <p>Senior lead, <br/> Web and Data analytics, KONY</p>
              <ul class="follow-us clearfix">
               
                <li><a href="https://twitter.com/AnalyticsMadhu"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/madhuvad/  "><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
         </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="images/speakers/krishna.jpg" class="img-responsive" alt=""></figure>
              <h3>Krishna Reddy</a></h3>
              <p>Founder,<br/> Krify Innovations (UK) Limited</p>
              <ul class="follow-us clearfix">
                
                <li><a href="https://twitter.com/krishnakovvuri"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://krify.com https://www.linkedin.com/in/krishnakovvuri "><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
        </li>
      </ul>

      <ul class="row p-5">
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="images/speakers/aravind.jpg" class="img-responsive" alt=""></figure>
              <h3>Aravind Putrevu</a></h3>
              <p>Developer Advocate,<br/> Elastic, India</p>
              <ul class="follow-us clearfix">
                
                <li><a href="https://twitter.com/aravindputrevu"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/aravindputrevu"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="images/speakers/harini.jpg"class="img-responsive" alt=""></figure>
              <h3>Dr D.N.D Harini </a></h3>
              <p>Professor,<br/> GVP College of Engineering</p>
              <ul class="follow-us clearfix">
                
                <li><a href="https://twitter.com/harinidhara"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="linkedin.com/in/dr-harini-datti-nagadhara-737808b7 "><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="images/speakers/naresh.jpg" class="img-responsive" alt=""></figure>
              <h3>Naresh Kumar </a></h3>
              <p>Founder, <br/> Symbiosis Technologies</p>
              <ul class="follow-us clearfix">
                
                <li><a href="https://www.indiamart.com/symbiosys-technologiesvisakhapatnam/aboutus.html "><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://www.indiamart.com/symbiosys-technologiesvisakhapatnam/aboutus.html "><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
         </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="images/speakers/madhav.jpg" class="img-responsive" alt=""></figure>
              <h3>Madhav Reddy</a></h3>
              <p>Founder, <br/> Redmad Learnings<br/> Chief Organiser, GDG Vizag and WTM Vizag</p>
              <ul class="follow-us clearfix">
            
                <li><a href="https://twitter.com/rmadhav9"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/reddymadhav"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
        </li>
      </ul>
      <ul class="row p-5">
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="images/speakers/sudhakar.jpg" class="img-responsive" alt=""></figure>
              <h3>Sudhakar Pantula</a></h3>
              <p>Director, <br/> Prospecta technologies Private Limited,<br/> Co-organiser GDG Vizag</p>
              <ul class="follow-us clearfix">
                
                <li><a href="https://twitter.com/spantula"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://linkedin.com/in/sudhakar-pantula"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="images/speakers/usha.jpeg"class="img-responsive" alt=""></figure>
              <h3>Usha Ramani Vemuru</a></h3>
              <p>Founder, <br/> GURUJADA IT Solutions; <br/>Co-organiser GDG Vizag; Lead, WTM Vizag </p>
              <ul class="follow-us clearfix">
                
                <li><a href="#https://twitter.com/vusharamani"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#https://www.linkedin.com/in/usha-ramani-vemuru-66286723/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
        </li>
        
      </ul>
    </div>
  </section>
</div>