
<div class="container pb-5 pt-5 d-flex align-items-center flex-column">
        <div class= "foldtitle text-center">Chief Sponsors</div>
        <section class="customer-logos d-flex flex-row align-items-center">
            <div class="pt-2 pb-2"><img src="/images/sponsors/cardlytics.jpg" width="400px"></div>
            <div class="pt-2 pb-2"><img src="/images/sponsors/elastic.png" width="300px"></div>
        
         </section>  
</div>

<div class="container pb-5 pt-5 d-flex align-items-center flex-column">
    <div class= "foldtitle text-center">Other Elite Sponsors</div>
    <section class="customer-logos d-flex flex-row align-items-center">
        <div class="p-3"><img src="/images/sponsors/amzur.jpg" width="200px"></div>
        <div class="p-3"><img src="/images/sponsors/sketch.png" width="200px"></div>
        <div class="p-3"><img src="/images/sponsors/agrahya.png" width="200px"></div>
        <div class="p-3"><img src="/images/sponsors/balsamiq.png" width="200px"></div>
        <div class="p-3"><img src="/images/sponsors/symbiosis.png" width="200px"></div>
        <div class="p-3"><img src="/images/sponsors/vgs.jpg" width="200px"></div>
     </section>
</div>
