<div class="fblock">
<div class="container pb-5 pt-5">
        <div class= "foldtitle text-center">Hear from our previous Speakers and attendees</div>
    <div class="row">
        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-default-filled">
                <div class="testimonial-section">
                    I'm glad Vizag is catching up in the developer centric technologies. Its admirable to see more and
                    more girls aspiring for tech roles.
                </div>
                <div class="testimonial-desc">
                    <img src="images/testimonials/devi.jpg" alt="" />
                    <div class="testimonial-writer">
                        <div class="testimonial-writer-name">A S L Devi</div>
                        <div class="testimonial-writer-designation">Speaker, IWD 2019</div>
                        <a href="https://in.linkedin.com/in/asldevi" class="testimonial-writer-company">Independent
                            Technology Consultant</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-primary-filled">
                <div class="testimonial-section">
                    I've attended only one WTM session and it opened a world of opportunities and possibilities for me.
                    I'm looking forward for more.
                </div>
                <div class="testimonial-desc">
                    <img src="images/testimonials/mariyam.jpg" alt="" />
                    <div class="testimonial-writer">
                        <div class="testimonial-writer-name">Mariyam Beebi</div>
                        <div class="testimonial-writer-designation">Attendee, WTM IWD 2019</div>
                        <a href="#" class="testimonial-writer-company">Student, Vignan Institute of Information
                            technology</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-sm-6">
                        <div id="tb-testimonial" class="testimonial testimonial-info-filled">
                            <div class="testimonial-section">
                                    I've found a great group to learn and experiment in the newest technologies like ML/AI and Google cloud.
                            </div>
                            <div class="testimonial-desc">
                                <img src="images/testimonials/harika.jpeg" alt="" />
                                <div class="testimonial-writer">
                                    <div class="testimonial-writer-name">Harika</div>
                                    <div class="testimonial-writer-designation">Attendee, DevFest 2018</div>
                                    <a href="#" class="testimonial-writer-company">Student, Vignan Institute of Information
                                        technology</a>
                                </div>
                            </div>
                        </div>
                    </div>


        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-success-filled">
                <div class="testimonial-section">
                    Im happy Vizag is emerging as the new developer destination. There is lots of potential, with many technical institutions round. </div>
                <div class="testimonial-desc">
                    <img src="/images/testimonials/aravind.jpeg" alt="" />
                    <div class="testimonial-writer">
                        <div class="testimonial-writer-name">Aravind Putrevu</div>
                        <div class="testimonial-writer-designation">Speaker, DEVFEST 2018</div>
                        <a href="#" class="testimonial-writer-company">Developer Advocate,Elastic
                           </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div id="tb-testimonial" class="testimonial testimonial-warning-filled">
            <div class="testimonial-section">
                This is the need of the hour, to have such developer communities thrive from tier 3 cities. Great going
                Google and team VizagGDG.
            </div>
            <div class="testimonial-desc">
                <img src="/images/testimonials/lakshmi.jpeg" alt="" />
                <div class="testimonial-writer">
                    <div class="testimonial-writer-name">Lakshmi Mukkavilli</div>
                    <div class="testimonial-writer-designation">Speaker, IWD 2019</div>
                    <a href="https://in.linkedin.com/in/lakshmi-mukkavilli-37522027"
                        class="testimonial-writer-company">Managing Director, Patra India</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div id="tb-testimonial" class="testimonial testimonial-danger-filled">
            <div class="testimonial-section">
                Communities like GDG and WTM encourage conversations on tech, leading to better engineers and developers
                from the ecosystem.
            </div>
            <div class="testimonial-desc">
                <img src="/images/testimonials/shilpa.jpg" alt="" />
                <div class="testimonial-writer">
                    <div class="testimonial-writer-name">Shilpa Dantu</div>
                    <div class="testimonial-writer-designation">Speaker, DevFest 2018</div>
                    <a href="https://in.linkedin.com/in/shilpanjani-dantu-3519a015"
                        class="testimonial-writer-company">Founder, Yo Vizag</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>